{% extends 'base.html' %}
{% load main_tags %}
{% block content %}
<div class="container vetical-center" id="main-container">
    <div class="user-profile border rounded shadow">
	{% if user.is_authenticated %}
        {% if user.profile %}
            <div class="left">
                <div class="profile-content">
                    <img src="{{ user.profile.avatar_url }}" alt="user profile avatar" class="profile-img"/>
                    <div class="profile-info-bottom border rounded p-3 shadow">
                        <div class="profile-info">
                            <div class="profile-info-lable">COMPANY</div> 
                            <div class="profile-info-data">{{ user.profile.company }}</div>
                        </div>
                        <div class="profile-info">
                            <div class="profile-info-lable">BLOG</div> 
                            <div class="profile-info-data">{{ user.profile.blog_url }}</div>
                        </div>
                        <div class="profile-info">
                            <div class="profile-info-lable">Location</div> 
                            <div class="profile-info-data">{{ user.profile.location }}</div>
                        </div>
                        <div class="profile-info">
                            <div class="profile-info-lable">Repository</div> 
                            <div class="profile-info-data">{{ user.profile.public_repos_count }}</div>
                        </div>
                        <div class="profile-info">
                            <div class="profile-info-lable">Followers</div> 
                            <div class="profile-info-data">{{ user.profile.followers }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="profile-content">
                    <div class="profile-content-right border rounded mb-3 shadow">
                        <h3 class="pt-2">Bio</h3>
                        <hr/>
                        <div class="pb-2">
                        {% for line in user.profile.bio|split_string %}
                            <div class="profile-info-data">{{ line }}</div>
                        {% endfor %}
                        </div>
                    </div>

                    <div class="profile-content-right border rounded shadow">
                        <h3 class="pt-2">Organization</h3>
                        <hr/>
                        <div class="pb-2">
                        {% if user.organization_set.all|length != 0 %}
                            {% for orgs in user.organization_set.all %}
                                <div class="profile-info-data border rounded mb-2 p-1">
                                    <img class="org-img" src="{{ orgs.avatar_url }}" alt="org_avatar" width="30" height="30" /> {{ orgs.orgs_name }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Can't get user profile data.</p>
        {% endif %}
    {% else %}
        <p>Please Login with Github</p>
    {% endif %}
    </div>
    {% comment %} <div class="content">
        {% if user.repository_set.all|length != 0 %}
        <div class="content">
        <ul>
            {% for repo in user.repository_set.all %}	
                <li>
                    <p>Repository Full Name : {{ repo.full_name }}</p>
                    <p>Repository Language : {{ repo.language }}</p>
                    <p>Last Push : {{ repo.pushed_at }}</p>
                    <p>My Commit Count : {{ repo.commit_set.all|length }}</p>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>{{ user.username }} has no repository.</p>
        {% endif %}
    </div> {% endcomment %}

    {% comment %} {% for key, val in commit_logs.items %}
        <p>{{key}} : {{val}}</p>
    {% endfor %} {% endcomment %}


	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
				{{ message }}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
{% endblock %}