{% extends 'base.html' %}
{% load main_tags %}
{% block content %}
<div class="container vetical-center" id="main-container">
    <div class="user-profile border rounded shadow">
	{% if user.is_authenticated %}
        {% if user.profile %}
            <div class="left">
                <div class="profile-content">
                    <img src="{{ user.profile.avatar_url }}" alt="user profile avatar" class="profile-img"/>
                    <div class="profile-info-bottom border rounded p-3 shadow">
                        <div class="profile-info">
                            <div class="profile-info-lable">COMPANY</div> 
                            <div class="profile-info-data">{{ user.profile.company }}</div>
                        </div>
                        <div class="profile-info">
                            <div class="profile-info-lable">BLOG</div> 
                            <div class="profile-info-data">{{ user.profile.blog_url }}</div>
                        </div>
                        <div class="profile-info">
                            <div class="profile-info-lable">Location</div> 
                            <div class="profile-info-data">{{ user.profile.location }}</div>
                        </div>
                        <div class="profile-info">
                            <div class="profile-info-lable">Repository</div> 
                            <div class="profile-info-data">{{ user.profile.public_repos_count }}</div>
                        </div>
                        <div class="profile-info">
                            <div class="profile-info-lable">Followers</div> 
                            <div class="profile-info-data">{{ user.profile.followers }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="profile-content">
                    <div class="profile-content-right border rounded mb-3 shadow">
                        <h3 class="pt-2">Bio</h3>
                        <hr/>
                        <div class="pb-2">
                        {% for line in user.profile.bio|split_string %}
                            <div class="profile-info-data">{{ line }}</div>
                        {% endfor %}
                        </div>
                    </div>

                    <div class="profile-content-right border rounded shadow">
                        <h3 class="pt-2">Organization</h3>
                        <hr/>
                        <div class="pb-2">
                        {% if user.organization_set.all|length != 0 %}
                            {% for orgs in user.organization_set.all %}
                                <div class="profile-info-data border rounded mb-2 p-1">
                                    <img class="org-img" src="{{ orgs.avatar_url }}" alt="org_avatar" width="30" height="30" /> {{ orgs.orgs_name }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Can't get user profile data.</p>
        {% endif %}
    {% else %}
        <p>Please Login with Github</p>
    {% endif %}
    </div>
    <div class="user-profile border rounded shadow ">
        <div class="current-streak border rounded shadow">
            <p class="commit-record border-bottom border-3">Record</p>
            <strong class="text-success">{{current_streak}}</strong>
        </div>
    </div>

	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
			{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
				{{ message }}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
{% endblock %}